/*
Colors:
light blue: #6EA4B1
dark blue: #0A3255
light green: #B1C45C
dark green: #6F873A
off-white: #FBFFF2
dark white: #DEE5CE
*/


body{
    margin: 0;
    background-color: #6EA4B1;
}

.green {
    width: 100%;
    height: 30px;
    background-color: #B1C45C;
    background-image: url(../images/green_text_portfolio.svg);
    background-repeat: repeat-x;
    background-position: center;
}

nav{
    background-color: #FBFFF2;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

nav a {
    color: #6EA4B1;
    text-decoration: none;
    font-size: 30px;
}

nav a:hover {
    color: #DEE5CE;
}

section {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;

}
.title_section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h1 {

    color: #0A3255;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    font-size: 150px;
    margin: 0;
    padding-top: 10rem;

}

.logo img {
    display: block;
    margin: 0 auto;
    width: 20rem;

}

.name_section {
    width: 100%;
    background-color: #FBFFF2;
    color: #DEE5CE;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}







/**font**/
.alegreya-sans-sc-thin {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.alegreya-sans-sc-light {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.alegreya-sans-sc-regular {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya-sans-sc-medium {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.alegreya-sans-sc-bold {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.alegreya-sans-sc-extrabold {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.alegreya-sans-sc-black {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.alegreya-sans-sc-thin-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.alegreya-sans-sc-light-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.alegreya-sans-sc-regular-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.alegreya-sans-sc-medium-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.alegreya-sans-sc-bold-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.alegreya-sans-sc-extrabold-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.alegreya-sans-sc-black-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 900;
  font-style: italic;
}
